.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

.App.show-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.App.show-scrollbar::-webkit-scrollbar-track,
.App.show-scrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.App.show-scrollbar:hover::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #202020;
  visibility: visible;
}

.App.show-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 2px;
  visibility: visible;
}

.App.show-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background: #808080;
  visibility: visible;
}

.App-content {
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  font-size: calc(10px + 2vmin);
}