.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

.App::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.App::-webkit-scrollbar-track {
  border-radius: 2px;
  /* background: #f7f4ed; */
  background: #202020;
}

.App::-webkit-scrollbar-thumb {
  /* background: #e0cbcb;
  border: 3px solid #f6f7ed; */
  background: #505050;
  border-radius: 2px;
}

.App::-webkit-scrollbar-thumb:hover {
  /* background: #c0a0b9; */
  background: #808080;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  height: 100%;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.TabPanel {
  /* background: rgb(58, 100, 192); */
  /* padding: 10px; */
  color: white;
  font-weight: bolder;
}

.mac-os-buttons {
  width: 1.1rem;
  height: 1.1rem;
}